body {
    background-color: rgba(137, 174, 179, 0.432);
}

h1 {
    display: block;
    box-sizing: border-box;
    margin: 50px;
    font-size: 60px;
}


.one {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.one * {
    flex: 1;
}

.one img {
    border-radius: 100px;
    width: 600px;
    height: auto;
}

.one p {
    font-size: 30px;
}

.one h2 {
    font-size: 35px;
    display: block;
    margin-top: 0;
}

.one li {
    font-size: 20px;
}

.two {
    margin-left: 50px;
}
.two h2 {
    font-size: 40px;
}

.two li {
    font-size: 20px;
    margin-left: 20px
}