body {
    background-color: bisque;
}


header a {
    color: rgb(24, 113, 155);
    font-weight: bold;
}

h1 {
    display: block;
    text-align: center;
    font-size: 80px;
    margin: 50px;
    margin-bottom: 130px;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    list-style: none;
    /* border: 2px solid red; */
}

li a img {
    border-radius: 100px;
    width: 550px;
    height: auto;
    max-width: min-content;
}

li {
    flex: 1;
}